{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home 02</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="topbar">
				<div class="content-topbar h-100 p-rl-30">
					<div class="align-self-stretch size-w-0 pos-relative m-r-30">
						<div class="f2-s-1 flex-wr-s-c s-full ab-t-l p-b-2">
							<span class="text-uppercase cl0 p-r-8">
								Trending Now:
							</span>

							<span class="dis-inline-block cl16 slide100-txt pos-relative size-w-0" data-in="fadeInDown" data-out="fadeOutDown">
								<span class="dis-inline-block slide100-txt-item animated visible-false">
									Interest rate angst trips up US equity bull market
								</span>

								<span class="dis-inline-block slide100-txt-item animated visible-false">
									Designer fashion show kicks off Variety Week
								</span>

								<span class="dis-inline-block slide100-txt-item animated visible-false">
									Microsoft quisque at ipsum vel orci eleifend ultrices
								</span>
							</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Menu Mobile -->
			
			<!--  -->
			<div class="wrap-logo no-banner container">
				<!-- Logo desktop -->		
				<div class="logo">
					<a href="index.html"><img src="{% static 'images/icons/gottakhor_logo.png' %}" alt="LOGO"></a>
				</div>
			</div>	
			
			<!--  -->
			<div class="wrap-main-nav">
				<div class="main-nav">
					<!-- Menu desktop -->
					<nav class="menu-desktop">
						<a class="logo-stick" href="/">
							<img src="{% static 'images/icons/gottakhor_logo.png' %}" alt="LOGO">
						</a>

						<ul class="main-menu">
							<li>
								<a href="/">Home</a>
							</li>

							<li>
								<a href="category-01.html">News</a>
							</li>

							<li>
								<a href="category-02.html">Entertainment </a>
							</li>

							<li>
								<a href="category-01.html">Business</a>
							</li>

							<li>
								<a href="category-02.html">Travel</a>
							</li>

							<li>
								<a href="category-01.html">Life Style</a>
							</li>

							<li>
								<a href="category-02.html">Video</a>
							</li>

							<li>
								<a href="#">Features</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>	
		</div>
	</header>