{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home 02</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="topbar">
				<div class="content-topbar h-100 p-rl-30">
					<div class="align-self-stretch size-w-0 pos-relative m-r-30">
					</div>
				</div>
			</div>

			<!-- Header Mobile -->
			<div class="wrap-header-mobile">
				<!-- Logo moblie -->		
				<div class="logo-mobile">
					<a href="/"><img src="{% static 'images/icons/gottakhor_logo.jpg' %}" alt="IMG-LOGO"></a>
				</div>

				<!-- Button show menu -->
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>

			<!-- Menu Mobile -->
			<div class="menu-mobile">
				<ul class="topbar-mobile">
					<li class="left-topbar">
				</ul>

				<ul class="main-menu-m">
							<li>
								<a href="/">Home</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='news' %}">News</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Opinion' %}">Opinion</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Sports' %}">Sports</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Entertainment' %}">Entertainment</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Nature & Environment' %}">Nature & Environment</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Agriculture' %}">Agriculture</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Business' %}">Business</a>
							</li>
							<li>
								<a href="{% url 'category_news' category='Travel' %}">Travel</a>
							</li>
							<li>
								<a href="{% url 'category_news' category='Tech' %}">Tech</a>
							</li>
				</ul>
			</div>

			<div class="wrap-logo no-banner container">	
				<div class="logo">
					<a href="/"><img src="{% static 'images/icons/gottakhor_new_logo.png' %}" alt="LOGO"></a>
				</div>
			</div>
			<div class="wrap-main-nav">
				<div class="main-nav">
					<!-- Menu desktop -->
					<nav class="menu-desktop">
						<a class="logo-stick" href="/">
							<img src="{% static 'images/icons/gottakhor_new_logo.png' %}" alt="LOGO">
						</a>

						<ul class="main-menu">
							<li>
								<a href="/">Home</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='news' %}">News</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Opinion' %}">Opinion</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Sports' %}">Sports</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Entertainment' %}">Entertainment</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Nature & Environment' %}">Nature & Environment</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Agriculture' %}">Agriculture</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Business' %}">Business</a>
							</li>
							<li>
								<a href="{% url 'category_news' category='Travel' %}">Travel</a>
							</li>
							<li>
								<a href="{% url 'category_news' category='Tech' %}">Tech</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>	
		</div>
	</header>

	<div class="container p-t-4 p-b-40">
		<h2 class="f1-l-1 cl2">
			{{ category_name }}
		</h2>
	</div>

	<!-- Post -->
	<section class="bg0 p-b-55">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 p-b-80">
					<div class="p-r-10 p-r-0-sr991">
						<div class="m-t--40 p-b-40">
							<!-- Item post -->
							{% if title %}
							{% for ttl in title %}
							<div class="flex-wr-sb-s p-t-40 p-b-15 how-bor2">
								<a href="blog-detail-02.html" class="size-w-8 wrap-pic-w hov1 trans-03 w-full-sr575 m-b-25">
									<img src="{% static 'images/latest-01.jpg' %}" alt="IMG">
								</a>

								<div class="size-w-9 w-full-sr575 m-b-25">
									<h5 class="p-b-12">
										<a href="{% url 'post_detail' pk=ttl.pk %}" class="f1-l-1 cl2 hov-cl10 trans-03 respon2">
											{{ ttl.title }}
										</a>
									</h5>

									<div class="cl8 p-b-18">
										<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
											{{ ttl.author_name }}
										</a>

										<span class="f1-s-3 m-rl-3">
											-
										</span>

										<span class="f1-s-3">
											{{ ttl.date_time.date }}
										</span>
									</div>
								</div>
							</div>
							{% endfor %}
							{% endif %}
						</div>
<!-- 
						<a href="#" class="flex-c-c size-a-13 bo-all-1 bocl11 f1-m-6 cl6 hov-btn1 trans-03">
							Load More
						</a> -->
					</div>
				</div>

				<div class="col-md-10 col-lg-4 p-b-80">
					<div class="p-l-10 p-rl-0-sr991">							
						<!-- Subscribe -->
						<!-- Most Popular -->
						<div class="p-b-23">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Most Popular
								</h3>
							</div>

							<ul class="p-t-35">
								<li class="flex-wr-sb-s p-b-22">
									<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
										1
									</div>

									<a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit
									</a>
								</li>
							</ul>
						</div>

						<!--  -->
						<div class="flex-c-s p-b-50">
							<a href="#">
								<img class="max-w-full" src="images/banner-02.jpg" alt="IMG">
							</a>
						</div>
						
						<!-- Tag -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer>
		<div class="bg11">
			<div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					Copyright © 2018 

					<a href="#" class="f1-s-1 cl10 hov-link1"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</span>
			</div>
		</div>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>


<!--===============================================================================================-->	
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>