{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home 02</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="topbar">
				<div class="content-topbar h-100 p-rl-30">
					<div class="align-self-stretch size-w-0 pos-relative m-r-30">
					</div>
				</div>
			</div>

			<!-- Header Mobile -->
			<div class="wrap-header-mobile">
				<!-- Logo moblie -->		
				<div class="logo-mobile">
					<a href="/"><img src="{% static 'images/icons/gottakhor_logo.jpg' %}" alt="IMG-LOGO"></a>
				</div>

				<!-- Button show menu -->
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>

			<!-- Menu Mobile -->
			<div class="menu-mobile">
				<ul class="topbar-mobile">
					<li class="left-topbar">
				</ul>

				<ul class="main-menu-m">
							<li>
								<a href="/">Home</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='news' %}">News</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Opinion' %}">Opinion</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Sports' %}">Sports</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Entertainment' %}">Entertainment</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Nature & Environment' %}">Nature & Environment</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Agriculture' %}">Agriculture</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Business' %}">Business</a>
							</li>
							<li>
								<a href="{% url 'category_news' category='Travel' %}">Travel</a>
							</li>
							<li>
								<a href="{% url 'category_news' category='Tech' %}">Tech</a>
							</li>
				</ul>
			</div>

			<div class="wrap-logo no-banner container">	
				<div class="logo">
					<a href="/"><img src="{% static 'images/icons/gottakhor_new_logo.png' %}" alt="LOGO"></a>
				</div>
			</div>
			<div class="wrap-main-nav">
				<div class="main-nav">
					<!-- Menu desktop -->
					<nav class="menu-desktop">
						<a class="logo-stick" href="/">
							<img src="{% static 'images/icons/gottakhor_new_logo.png' %}" alt="LOGO">
						</a>

						<ul class="main-menu">
							<li>
								<a href="/">Home</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='news' %}">News</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Opinion' %}">Opinion</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Sports' %}">Sports</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Entertainment' %}">Entertainment</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Nature & Environment' %}">Nature & Environment</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Agriculture' %}">Agriculture</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Business' %}">Business</a>
							</li>
							<li>
								<a href="{% url 'category_news' category='Travel' %}">Travel</a>
							</li>
							<li>
								<a href="{% url 'category_news' category='Tech' %}">Tech</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>	
		</div>
	</header>
	<!-- Content -->
	<section class="bg0 p-b-140 p-t-10">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 p-b-30">
					<div class="p-r-10 p-r-0-sr991">
						<!-- Blog Detail -->
						<div class="p-b-70">
							<a href="#" class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase">
								{{ title.category }}
							</a>
							<h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
								{{ title.title }}
							</h3>
							
							<div class="flex-wr-s-s p-b-40">
								<span class="f1-s-3 cl8 m-r-15">
									<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
										by John Alvarado
									</a>

									<span class="m-rl-3">-</span>

									<span>
										Feb 18
									</span>
								</span>

							</div>

							{{ article.content|safe }}

							<!-- Share -->
							<div class="flex-s-s">
								<span class="f1-s-12 cl5 p-t-1 m-r-15">
									Share:
								</span>
								
								<div class="flex-wr-s-s size-w-0">
									<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.divyabhaskar.co.in/national/news/pmo-says-dont-create-controversy-by-misrepresenting-pms-statement-he-spoke-of-june-15-clash-127429214.html?ref=ht" class="dis-block f1-s-13 cl0 bg-facebook borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
										<i class="fab fa-facebook-f m-r-7"></i>
										Facebook
									</a>

									<a href="http://twitter.com/share?text={{ title.title }}&url=https://gujaratexclusive.in/china-lures-bangladesh-reduced-tariffs-on-many-products/" class="dis-block f1-s-13 cl0 bg-twitter borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
										<i class="fab fa-twitter m-r-7"></i>
										Twitter
									</a>
									<a href="https://api.whatsapp.com/resolve?deeplink=/https://github.com/codingforentrepreneurs/Guides/blob/master/all/social_share_links.md#twitter" class="dis-block f1-s-13 cl0 bg-whatsapp borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
										<i class="fab fa-whatsapp m-r-7"></i>
										Whatsapp
									</a>
								</div>
							</div>
						</div>

						<!-- Leave a comment -->
						<!-- <div>
							<h4 class="f1-l-4 cl3 p-b-12">
								Leave a Comment
							</h4>

							<p class="f1-s-13 cl8 p-b-40">
								Your email address will not be published. Required fields are marked *
							</p>

							<form>
								<textarea class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20" name="msg" placeholder="Comment..."></textarea>

								<input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="name" placeholder="Name*">

								<input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="email" placeholder="Email*">

								<input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="website" placeholder="Website">

								<button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">
									Post Comment
								</button>
							</form>
						</div> -->
					</div>
				</div>
				
				<!-- Sidebar -->
				<div class="col-md-10 col-lg-4 p-b-30">
					<div class="p-l-10 p-rl-0-sr991 p-t-70">						
						<!-- Category -->
						<!-- Archive -->
						<!-- Popular Posts -->
						<div class="p-b-30">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Popular Post
								</h3>
							</div>

							<ul class="p-t-35">
								{% for popular_post in popular_posts %}
								<li class="flex-wr-sb-s p-b-30">
									<a href="#" class="size-w-10 wrap-pic-w hov1 trans-03">
										<img src={{ popular_post.popular_image }} alt="IMG">
									</a>

									<div class="size-w-11">
										<h6 class="p-b-4">
											<a href="blog-detail-02.html" class="f1-s-5 cl3 hov-cl10 trans-03">
												{{ popular_post.title }}
											</a>
										</h6>

										<span class="cl8 txt-center p-b-24">
											<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
												{{ popular_post.author_name }}
											</a>

											<span class="f1-s-3 m-rl-3">
												-
											</span>

											<span class="f1-s-3">
												{{ popular_post.date_time.date }}
											</span>
										</span>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>

						<!-- Tag -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer>
		<div class="bg11">
			<div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					Copyright © 2018 

					<a href="#" class="f1-s-1 cl10 hov-link1"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</span>
			</div>
		</div>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>


<!--===============================================================================================-->	
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>