{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gotakhor</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="topbar">
				<!-- <div class="content-topbar h-100 p-rl-30">
							</div> -->
			</div>

			<!-- Header Mobile -->
			<div class="wrap-header-mobile" style="background-color:#fbbf53 ">
				<!-- Logo moblie -->		
				<div class="logo-mobile">
					<a href="/"><img src="{% static 'images/icons/gottakhor_logo.jpg' %}" alt="IMG-LOGO"></a>
				</div>

				<!-- Button show menu -->
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>

			<!-- Menu Mobile -->
			<div class="menu-mobile">
				<ul class="topbar-mobile">
					<li class="left-topbar">
				</ul>

				<ul class="main-menu-m">
							<li>
								<a href="/">Home</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='news' %}">News</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Opinion' %}">Opinion</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Sports' %}">Sports</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Entertainment' %}">Entertainment</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Nature & Environment' %}">Nature & Environment</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Agriculture' %}">Agriculture</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Business' %}">Business</a>
							</li>
							<li>
								<a href="{% url 'category_news' category='Travel' %}">Travel</a>
							</li>
							<li>
								<a href="{% url 'category_news' category='Tech' %}">Tech</a>
							</li>
				</ul>
			</div>

			<div class="wrap-logo no-banner container">	
				<div class="logo">
					<a href="/"><img src="{% static 'images/icons/logo_desktop.png' %}" alt="LOGO"></a>
				</div>
			</div>
			<div class="wrap-main-nav">
				<div class="main-nav">
					<!-- Menu desktop -->
					<nav class="menu-desktop">
						<a class="logo-stick" href="/">
							<img src="{% static 'images/icons/gottakhor_new_logo.png' %}" alt="LOGO">
						</a>

						<ul class="main-menu">
							<li>
								<a href="/">Home</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='news' %}">News</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Opinion' %}">Opinion</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Sports' %}">Sports</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Entertainment' %}">Entertainment</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Nature & Environment' %}">Nature & Environment</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Agriculture' %}">Agriculture</a>
							</li>

							<li>
								<a href="{% url 'category_news' category='Business' %}">Business</a>
							</li>
							<li>
								<a href="{% url 'category_news' category='Travel' %}">Travel</a>
							</li>
							<li>
								<a href="{% url 'category_news' category='Tech' %}">Tech</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>	
		</div>
	</header>

	<section class="bg0" >
			<div class="row m-rl-0 justify-content-center">
				{% for popular_post in popular_posts %}
				<div class="col-md-4 p-rl-1 p-b-2">
					<div class="bg-img1 size-a-11 how1 pos-relative" style="background-image: url({{ popular_post.popular_image }})";>
						<a href="{% url 'post_detail' pk=popular_post.pk %}" class="dis-block how1-child1 trans-03"></a>

						<div class="flex-col-e-s s-full p-rl-25 p-tb-18">
							<a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
								{{ popular_post.category }}
							</a>

							<h3 class="how1-child2 m-t-14 m-b-10">
								<a href="blog-detail-02.html" class="f1-l-1 cl0 hov-cl10 trans-03 respon1">
									{{ popular_post.title }}
								</a>
							</h3>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
	</section>


	<section class="bg0 p-t-60 p-b-40">
		<div class="container">
			<div class="how2 how2-cl4 flex-s-c">
				<h3 class="f1-m-2 cl3 tab01-title">
					Latest Articles
				</h3>
			</div>
			
			<div class="row p-t-35">
				{% for post in posts %}
				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->	
					<div class="m-b-45">
						<a href="{% url 'post_detail' pk=post.pk %}" class="wrap-pic-w hov1 trans-03">
							<img src={{ post.post_image }} alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="{% url 'post_detail' pk=post.pk %}" class="f1-m-3 cl2 hov-cl10 trans-03">
									{{ post.title }}
								</a>
							</h5>

							<span class="cl8">
								<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
									{{ post.category }}
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									{{ post.date_time.date }}
								</span>
								<br>
								<span class="f1-s-3">
									Story By - {{ post.author_name }}
								</span>
							</span>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>


	<section class="bg0 p-t-60 p-b-40">
		<div class="container">
			<div class="how2 how2-cl4 flex-s-c">
			<button>
			<a href="{% url 'category_news' category='Entertainment' %}">
				<h3 class="f1-m-2 cl3 tab01-title">
					Videos >
				</h3>
			</a>
			</button>
			</div>
			
			<div class="row p-t-35">
				{% for post in videos %}
				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->	
					<div class="m-b-45">
						<a href="{% url 'post_detail' pk=post.pk %}" class="wrap-pic-w hov1 trans-03">
							<img src={{ post.post_image }} alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="{% url 'post_detail' pk=post.pk %}" class="f1-m-3 cl2 hov-cl10 trans-03">
									{{ post.title }}
								</a>
							</h5>

							<span class="cl8">
								<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
									{{ post.category }}
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									{{ post.date_time }}
								</span>
							</span>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>


	<section class="bg0 p-t-60 p-b-40">
		<div class="container">
			<div class="how2 how2-cl4 flex-s-c">
				<h3 class="f1-m-2 cl3 tab01-title">
					Memes
				</h3>
			</div>
			
			<div class="row p-t-35">
				{% for post in memes %}
				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->	
					<div class="m-b-45">
						<a href="{% url 'post_detail' pk=post.pk %}" class="wrap-pic-w hov1 trans-03">
							<img src={{ post.post_image }} alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="{% url 'post_detail' pk=post.pk %}" class="f1-m-3 cl2 hov-cl10 trans-03">
									{{ post.title }}
								</a>
							</h5>

							<span class="cl8">
								<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
									{{ post.category }}
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									{{ post.date_time }}
								</span>
							</span>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>


	<!-- Footer -->
	<footer>
		<div class="bg2 p-t-40 p-b-25">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<a href="index.html">
								<img class="max-s-full" src="{% static 'images/icons/gottakhor_logo.png' %}" alt="LOGO">
							</a>
						</div>

						<div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-4 p-b-20">
							<p>
								Contact Us <br>
								if you have a news, story or any query contact us<br>
								Mo - 99999999 Mail - www.gotakhor@gmail.com
							</p>
					</div>

					<div class="col-sm-6 col-lg-4 p-b-20">
							<div class="p-t-15">
								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-facebook-f"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-twitter"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-pinterest-p"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-vimeo-v"></span>
								</a>

								<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-youtube"></span>
								</a>
							</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bg11">
			<div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					Copyright © 2018 

					<a href="#" class="f1-s-1 cl10 hov-link1"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</span>
			</div>
		</div>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>

	<!-- Modal Video 01-->
	<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document" data-dismiss="modal">
			<div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

			<div class="wrap-video-mo-01">
				<div class="video-mo-01">
					<iframe src="https://www.youtube.com/embed/wJnBTPUQS5A?rel=0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>